abbr
{
    cursor: help;
    border-bottom: 1px dotted #999999;
	text-transform: lowercase;
}
code, kbd, pre, samp
{
    font-size: 1em;
    /*Bootstrap*/
    font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
    color: #d14;
    white-space: nowrap;
    background-color: #f7f7f9;
    border: 1px solid #e1e1e8;
}
blockquote
{
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    margin: 1.5em 10px;
    padding: .5em 10px;
    quotes: "\201C" "\201D" "\2018" "\2019";
}
blockquote:before
{
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: .1em;
    margin-right: .2em;
    vertical-align: -.4em;
}
blockquote p
{
    display: inline;
}
/* cardinal */
code {
	padding: 0 0.3rem;
	border: 1px solid #d6d6d6;
	background: #f8f8f8;
	white-space: nowrap;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
}
/* typeplate */
pre code {
	word-wrap: normal;
	white-space: -moz-pre-wrap;
	/* http://css-tricks.com/almanac/properties/w/whitespace */
	white-space: pre-wrap;
}
abbr,
acronym,
blockquote,
code,
dir,
kbd,
listing,
plaintext,
q,
samp,
tt,
var,
xmp {
	/* Accepted values: [ none | manual | auto ] */ 
	/* http://meyerweb.com/eric/thoughts/2012/12/17/where-to-avoid-css-hyphenation */
	-webkit-hyphens: none; /* Safari 5.1 thru 6, iOS 4.2 thru 6 */
	-moz-hyphens: none; /* Firefox 16 thru 20 */
	-ms-hyphens: none; /* IE10 */
	-o-hyphens: none; /* PRESTO...haha LOL */
	hyphens: none;	 /* W3C standard */
}