/* http://coding.smashingmagazine.com/2013/03/08/tips-tricks-print-style-sheets/ */
body, article
{
    width: 100%;
    margin: 0;
    padding: 0;
}
ul, img
{
    /*prevent large elements, such as unordered lists and images, from being split across multiple pages.*/
    page-break-inside: avoid;
}
article
{
    /*articles always start on a fresh page*/
    page-break-before: always;
}
/* boilerplate */
*
{
    background: transparent !important;
    color: #000 !important; /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important;
}
a, a:visited
{
    text-decoration: underline;
}
a[href]:after
{
    content: " (" attr(href) ")";
}
abbr[title]:after
{
    content: " (" attr(title) ")";
}
/* Don't show links for images, or javascript/internal links */
.ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after
{
    content: "";
}
pre, blockquote
{
    border: 1px solid #999;
    page-break-inside: avoid;
}
thead
{
    display: table-header-group; /* h5bp.com/t */
}
tr
{
    page-break-inside: avoid;
}
img
{
    max-width: 100% !important;
}
p, h2, h3
{
    /* 设置当元素内部发生分页时必须在页面底部保留的最少行数。 */
    orphans: 3;
    widows: 3;
}
h2, h3
{
    /*prevent headings from being printed at the bottom of the page*/
    page-break-after: avoid;
}
/* RockyMyx */
.table 
{
	width: 95%;
}
.hide-print
{
    display: none;
}